<div class="app-container">
  <app-header></app-header>
  
  <!-- Floating particles background -->
  <div class="particles">
    <div class="particle" *ngFor="let position of particlePositions; let i = index" 
         [style.left]="position.left" 
         [style.top]="position.top">
    </div>
  </div>
  
  <main class="main-content">
    <div class="router-container" [@routeAnimations]="prepareRoute(outlet)">
      <router-outlet #outlet="outlet"></router-outlet>
    </div>
  </main>
  
  <app-footer></app-footer>
</div>
